.cast {
  padding: 40px;
  background-color: #e0e0e0;
  text-align: center;
}

.cast__title {
  font-size: 36px;
  margin-bottom: 20px;
}

.cast__list {
  list-style: none;
  padding: 0;
}

.cast__item {
  font-size: 18px;
  margin-bottom: 10px;
}
  @media (max-width:768px) {
    .cast__title {
      font-size: 32px;
    }
  
    .cast__item {
      font-size: 16px;
    }
  }
  