.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.header__logo {
  width: 100px;
  margin: 0 auto; 
}

.header__nav {
  display: none;
}

.hamburger-menu {
  cursor: pointer;
  padding: 5px;
}

.hamburger-icon {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}

.header__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu-item {
  margin-right: 20px;
}

@media (max-width:768px) {
  .header__menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .header__menu-item {
    margin-right: 10px;
  }
  }
