/* Estilos para a seção "hero" */
.hero {
  position: relative;
  background-image: url('/src/images/joker__hero.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding: 100px 0;
  height: 600px;
}

.hero__overlay {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 250px;
}

.hero__title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero__subtitle {
  font-size: 1.5rem;
}

.hero__cta {
  display: inline-block;
  background-color: rgba(0,0,0, 0.5 );
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 5px;
}
