.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: url("/src/images/joker__hero.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

.hero__title {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero__subtitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.hero__cta {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #800080;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
}

@media (max-width:768px) {
  .hero__title {
    font-size: 32px;
  }

  .hero__subtitle {
    font-size: 18px;
  }
}
