.trailer {
    text-align: center;
    padding: 80px 0;
  }
  
  .trailer__title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .trailer__video {
    max-width: 100%;
    max-height: 100%;
  }